In [1]:
import findspark
findspark.init("C:\spark")

from pyspark.sql import SparkSession
from pyspark.conf import SparkConf

spark = SparkSession.builder. \
master("local[4]"). \
appName("Df-giriş"). \
config("spark.driver.memory","2g"). \
config("spark.executor.memory","4g"). \
getOrCreate()

In [2]:
retailDF = spark.read \
.option("sep",";") \
.option("header" , "True") \
.option("inferSchema" , "True") \
.csv("Data\\OnlineRetail.csv")

In [9]:
retailDF.show(3)

+---------+---------+--------------------+--------+---------------+---------+----------+--------------+
|InvoiceNo|StockCode|         Description|Quantity|    InvoiceDate|UnitPrice|CustomerID|       Country|
+---------+---------+--------------------+--------+---------------+---------+----------+--------------+
|   536365|   85123A|WHITE HANGING HEA...|       6|1.12.2010 08:26|     2,55|     17850|United Kingdom|
|   536365|    71053| WHITE METAL LANTERN|       6|1.12.2010 08:26|     3,39|     17850|United Kingdom|
|   536365|   84406B|CREAM CUPID HEART...|       8|1.12.2010 08:26|     2,75|     17850|United Kingdom|
+---------+---------+--------------------+--------+---------------+---------+----------+--------------+
only showing top 3 rows

In [22]:
# dataframe i cacheliyip donup donup calıstıyorm ya daha hızlı calsıtırıyo olucam
retailDF.cache()

DataFrame[InvoiceNo: string, StockCode: string, Description: string, Quantity: int, InvoiceDate: string, UnitPrice: string, CustomerID: int, Country: string]

In [23]:
##bildiğin sql table oluşturucam

retailDF.createOrReplaceTempView("tablo")

In [24]:
# aşağıda gördüğüm alan benim sql queryim
spark.sql("""

SELECT Country , SUM(UnitPrice) UnitPrice
FROM tablo
GROUP BY Country
ORDER BY UnitPrice DESC


""").show(20)

+---------------+---------+
|        Country|UnitPrice|
+---------------+---------+
| United Kingdom|  94911.0|
|           EIRE|   9423.0|
|        Germany|   7930.0|
|         France|   6288.0|
|          Spain|   2927.0|
|        Finland|   1578.0|
|        Belgium|   1503.0|
|         Norway|   1451.0|
|    Switzerland|   1267.0|
|         Sweden|    921.0|
|         Cyprus|    890.0|
|    Netherlands|    874.0|
|          Italy|    823.0|
|       Portugal|    817.0|
|Channel Islands|    736.0|
|        Austria|    548.0|
|      Australia|    350.0|
|        Denmark|    246.0|
|          Malta|    210.0|
|         Poland|    200.0|
+---------------+---------+
only showing top 20 rows

In [35]:
spark.sql("""

SELECT StockCode , SUM(Quantity * UnitPrice) as TOPLAM
FROM tablo
GROUP BY  StockCode
ORDER BY TOPLAM DESC


""").show(20)

+---------+-------+
|StockCode| TOPLAM|
+---------+-------+
|     POST|67457.0|
|      DOT| 9824.0|
|       C2| 6986.0|
|    22655| 6660.0|
|    22826| 5735.0|
|    22827| 5000.0|
|    22656| 2885.0|
|    22823| 2745.0|
|    23485| 1800.0|
|    22828| 1530.0|
|    21259| 1440.0|
|    23064| 1320.0|
|    23444| 1185.0|
|    48187| 1024.0|
|    48184|  864.0|
|    21523|  864.0|
|    48194|  864.0|
|    48185|  864.0|
|    20685|  864.0|
|    22365|  864.0|
+---------+-------+
only showing top 20 rows