In [2]:
import findspark
findspark.init("C:\spark")

In [39]:
import findspark
findspark.init("C:\spark")

from pyspark.sql import SparkSession
from pyspark.conf import SparkConf

spark = SparkSession.builder. \
master("local[4]"). \
appName("Df-giriş"). \
config("spark.driver.memory","2g"). \
config("spark.executor.memory","4g"). \
getOrCreate()

sc = spark.sparkContext

# Listeden DF

In [7]:
from pyspark.sql import Row
list_rdd = sc.parallelize([1,2,3,1,2,3,6,7]). \
map(lambda x: Row(x))

In [17]:
df_from_list = list_rdd.toDF()

In [18]:
df_from_list.show()

+---+
| _1|
+---+
|  1|
|  2|
|  3|
|  1|
|  2|
|  3|
|  6|
|  7|
+---+

# Range ile Df

In [19]:
df_from_range = sc.parallelize(range(10,100,5)). \
map(lambda x : (x,)). \
toDF(["range"])

In [20]:
df_from_range.show(3)

+-----+
|range|
+-----+
|   10|
|   15|
|   20|
+-----+
only showing top 3 rows

# FILE DEN OKUMA

In [21]:
df_from_file = spark.read.csv("Data\\OnlineRetail.csv")

In [25]:
df_from_file.show()

+--------------------+
|                 _c0|
+--------------------+
|InvoiceNo;StockCo...|
|536365;85123A;WHI...|
|536365;71053;WHIT...|
|536365;84406B;CRE...|
|536365;84029G;KNI...|
|536365;84029E;RED...|
|536365;22752;SET ...|
|536365;21730;GLAS...|
|536366;22633;HAND...|
|536366;22632;HAND...|
|536367;84879;ASSO...|
|536367;22745;POPP...|
|536367;22748;POPP...|
|536367;22749;FELT...|
|536367;22310;IVOR...|
|536367;84969;BOX ...|
|536367;22623;BOX ...|
|536367;22622;BOX ...|
|536367;21754;HOME...|
|536367;21755;LOVE...|
+--------------------+
only showing top 20 rows

In [26]:
# gördüğün gibi kötü biraz bunların bi config leri optionları var

In [28]:
df_from_file = spark.read \
.option("sep",";") \
.option("header" , "True") \
.option("inferSchema" , "True") \
.csv("Data\\OnlineRetail.csv")

In [29]:
df_from_file.printSchema()

root
 |-- InvoiceNo: string (nullable = true)
 |-- StockCode: string (nullable = true)
 |-- Description: string (nullable = true)
 |-- Quantity: integer (nullable = true)
 |-- InvoiceDate: string (nullable = true)
 |-- UnitPrice: string (nullable = true)
 |-- CustomerID: integer (nullable = true)
 |-- Country: string (nullable = true)

In [31]:
df_from_file.count()

541909

In [32]:
df_from_file.select("InvoiceNo","StockCode").show(15)
#al sana sql rezmen

+---------+---------+
|InvoiceNo|StockCode|
+---------+---------+
|   536365|   85123A|
|   536365|    71053|
|   536365|   84406B|
|   536365|   84029G|
|   536365|   84029E|
|   536365|    22752|
|   536365|    21730|
|   536366|    22633|
|   536366|    22632|
|   536367|    84879|
|   536367|    22745|
|   536367|    22748|
|   536367|    22749|
|   536367|    22310|
|   536367|    84969|
+---------+---------+
only showing top 15 rows

In [35]:
df_from_file.sort("InvoiceNo").show(10)

+---------+---------+--------------------+--------+---------------+---------+----------+--------------+
|InvoiceNo|StockCode|         Description|Quantity|    InvoiceDate|UnitPrice|CustomerID|       Country|
+---------+---------+--------------------+--------+---------------+---------+----------+--------------+
|   536365|    71053| WHITE METAL LANTERN|       6|1.12.2010 08:26|     3,39|     17850|United Kingdom|
|   536365|   84029E|RED WOOLLY HOTTIE...|       6|1.12.2010 08:26|     3,39|     17850|United Kingdom|
|   536365|    21730|GLASS STAR FROSTE...|       6|1.12.2010 08:26|     4,25|     17850|United Kingdom|
|   536365|   84029G|KNITTED UNION FLA...|       6|1.12.2010 08:26|     3,39|     17850|United Kingdom|
|   536365|   84406B|CREAM CUPID HEART...|       8|1.12.2010 08:26|     2,75|     17850|United Kingdom|
|   536365|    22752|SET 7 BABUSHKA NE...|       2|1.12.2010 08:26|     7,65|     17850|United Kingdom|
|   536365|   85123A|WHITE HANGING HEA...|       6|1.12.2010 08:26|     2,55|     17850|United Kingdom|
|   536366|    22633|HAND WARMER UNION...|       6|1.12.2010 08:28|     1,85|     17850|United Kingdom|
|   536366|    22632|HAND WARMER RED P...|       6|1.12.2010 08:28|     1,85|     17850|United Kingdom|
|   536367|    84879|ASSORTED COLOUR B...|      32|1.12.2010 08:34|     1,69|     13047|United Kingdom|
+---------+---------+--------------------+--------+---------------+---------+----------+--------------+
only showing top 10 rows

In [37]:
df_from_file.sort("InvoiceNo").explain()
# o fiziksel şeyi

== Physical Plan ==
*(2) Sort [InvoiceNo#85 ASC NULLS FIRST], true, 0
+- Exchange rangepartitioning(InvoiceNo#85 ASC NULLS FIRST, 200)
   +- *(1) FileScan csv [InvoiceNo#85,StockCode#86,Description#87,Quantity#88,InvoiceDate#89,UnitPrice#90,CustomerID#91,Country#92] Batched: false, Format: CSV, Location: InMemoryFileIndex[file:/C:/Users/MERT/Untitled Folder/Data/OnlineRetail.csv], PartitionFilters: [], PushedFilters: [], ReadSchema: struct<InvoiceNo:string,StockCode:string,Description:string,Quantity:int,InvoiceDate:string,UnitP...